.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
}

header > h1 {
  margin: auto;
}

.edit-btn {
  color: indigo;
}

.btn-icon {
  margin-left: 1em;
}

.back-nav {
  margin-right: 1em;
}

.back-nav:active {
  color: indigo;
  border: 2px solid pink;
}
