form {
  margin: 1em auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 1.5em;
}

form, header{
  padding: 8px;
}

.form-group {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.form-group > label {
  margin-right: 1em;
}

.action-btns {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}
