form{
    margin: 2em auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 1.5em;;
}

.form-group{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.form-group>label{
    margin-right: 1em;
}
