main {
  padding: 8px;
  background-color: #EDE7F6;
  min-height: 100vh;
}

.App-header {
  background: indigo;
  color: white;
  padding: 0.5em 1em;
}

footer {
  margin-bottom: 1em;
}

footer,
footer > span {
  color: grey;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
}

/* In-house themimg */
.chow-text-input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid indigo;
  border-radius: 5px;
}

.chow-text-input:focus, .chow-text-input:hover {
  border: 2px solid deeppink;
  outline: none;
}

.chow-text-area {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid indigo;
  border-radius: 5px;
}

.chow-text-area:hover, .chow-text-area:focus {
  border: 2px solid deeppink;
  outline: none;
}

.chow-btn {
  outline: none;
  box-shadow: none;
  border: none;
  background: indigo;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.chow-btn-outline {
  border-color: indigo;
  border-style: solid;
  border-width: 2px;
  background: white;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.chow-btn-disabled{

  border-color:gray;
  border-style: solid;
  border-width: 2px;
  background: whitesmoke;
  color: gray;
  padding: 10px;
  border-radius: 5px;

}
